<div class="min-h-screen bg-gray-100 flex justify-center items-center">
  <div
    class="
      w-
      p-6
      bg-white
      rounded-xl
      shadow-xl
      hover:shadow-2xl hover:scale-105
      transition-all
      transform
      duration-500
      md:w-1/2
    "
  >
    <div class="w-64 rounded-full mx-auto overflow-hidden h-64">
      <img
        class="object-cover"
        src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.6435-9/137540023_2803904253159890_1689130949767367206_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=p9o0m2Dt5ssAX_E7bq5&_nc_ht=scontent-mia3-2.xx&oh=c8b82666c0ccf26fd4c8c98b1994f70a&oe=619D5E04"
        alt=""
      />
    </div>

    <div class="mt-4 text-center">
      <h1 class="text-2xl font-bold text-gray-700">Wladimir Hernandez</h1>
      <h2 class="font-bold text-gray-400">Frontend Developer</h1>
      <p class="text-sm mt-2 text-gray-500">Experienced Frontend Web Developer with a demonstrated history of working in the information technology and services industry. Skilled in Vue.js, SASS, Front-end Development, JavaScript, and Git. Strong engineering professional graduated from Universidad Nacional Experimental Politécnica de la Fuerza Armada.
    </p>
    <div class="pt-5"></div>
    <!--
      <div class="mt-8 mb-2 flex justify-between px-2">
        <a
        href="#portfolio"
          class="
            text-lg
            block
            font-semibold
            py-2
            px-6
            text-teal-100
            hover:text-white
            bg-teal-400
            rounded-lg
            shadow
            hover:shadow-md
            transition
            duration-300
            w-full
          "
        >
          Go to Portfolio
        </a>
      </div>
      -->
    </div>
  </div>
</div>
