<div class="md:min-h-screen bg-gray-100 flex justify-center items-center">
  <div
    class="
      w-
      p-6
      bg-white
      rounded-xl
      shadow-xl
      hover:shadow-2xl hover:scale-105
      transition-all
      transform
      duration-500
      md:w-1/2
      lg:w-2/5
    "
  >
    <div class="w-36 rounded-full mx-auto overflow-hidden h-36">
      <img
        class="object-cover"
        src="/assets/images/profile.jpg"
        alt=""
      />
    </div>

    <div class="mt-4 text-center">
      <h1 class="text-2xl font-bold text-gray-700">Wladimir Hernandez</h1>
      <h2 class="font-bold text-gray-400">Frontend Developer</h1>
      <p class="text-sm mt-2 text-gray-500">I'm a Frontend Developer with +4 years of experience using Javascript. I have worked in Startups and Digital Agencies on more than 30 projects (Websites, E-Commerces and SaaS). I also have extensive experience using tools like Git, Docker and BitBucket.
    </p>
    <div class="pt-5"></div>
    <!--
      <div class="mt-8 mb-2 flex justify-between px-2">
        <a
        href="#portfolio"
          class="
            text-lg
            block
            font-semibold
            py-2
            px-6
            text-teal-100
            hover:text-white
            bg-teal-400
            rounded-lg
            shadow
            hover:shadow-md
            transition
            duration-300
            w-full
          "
        >
          Go to Portfolio
        </a>
      </div>
      -->
      <include src="partials/social/social-sharing.html"></include>
    </div>
  </div>
</div>
